{
  "extends": "react-app",
  "globals": {
    "mockStore": true,
    "localStorage": true
  },
  "rules": {
    "no-alert": "error",
    "no-array-constructor": "error",
    "no-bitwise": "error",
    "no-catch-shadow": "error",
    "no-class-assign": "error",
    "no-cond-assign": "error",
    "no-console": "warn",
    "no-const-assign": "error",
    "no-constant-condition": "error",
    "no-continue": "error",
    "no-control-regex": "error",
    "no-debugger": "warn",
    "no-delete-var": "error",
    "no-div-regex": "error",
    "no-dupe-class-members": "error",
    "no-dupe-keys": "error",
    "no-dupe-args": "error",
    "no-duplicate-case": "error",
    "no-else-return": "error",
    "no-empty": "error",
    "no-empty-character-class": "error",
    "no-eval": "error",
    "no-ex-assign": "error",
    "no-extra-bind": "error",
    "no-extra-boolean-cast": "error",
    "no-extra-parens": "off",
    "no-extra-semi": "error",
    "semi": "error",
    "no-fallthrough": "error",
    "no-func-assign": "error",
    "no-inner-declarations": ["error", "functions"],
    "no-invalid-regexp": "error",
    "no-irregular-whitespace": "off",
    "no-labels": "error",
    "no-mixed-spaces-and-tabs": ["error", false],
    "no-multi-spaces": "off",
    "no-unsafe-negation": "error",
    "no-nested-ternary": "error",
    "no-new": "error",
    "no-new-func": "error",
    "no-new-object": "error",
    "no-new-require": "error",
    "no-new-wrappers": "error",
    "no-obj-calls": "error",
    "no-octal": "error",
    "no-redeclare": "error",
    "no-regex-spaces": "error",
    "no-shadow": "error",
    "no-sparse-arrays": "error",
    "no-this-before-super": "error",
    "no-throw-literal": "error",
    "no-undef": "error",
    "no-unreachable": "error",
    "no-unused-vars": ["error", {"vars": "all", "args": "after-used"}],
    "no-use-before-define": "error",
    "no-useless-call": "error",
    "no-useless-concat": "error",
    "no-void": "error",
    "no-var": "error",
    "no-warning-comments": ["warn", { "terms": ["todo", "fixme"], "location": "start" }],
    "comma-dangle": ["error", "never"],
    "eqeqeq": "error",
    "max-depth": ["error", 4],
    "max-len": ["error", 150, 4],
    "radix": "error",
    "use-isnan": "error",
    "valid-typeof": "error",
    "prefer-const": "error",
    "indent": ["error", 2],
    "brace-style": [ 2, "1tbs" ],
    "curly": ["error", "all"],
    "quotes": ["error", "single"]
  }
}