body {
    margin: 0;
    padding: 0;
}

.icon {
    width: 1%;
}

.navbar-brand {
    position: relative;
    padding-left: 50px;
}

.childObject {
    color: darkgray;
}

a:link { color: #337ab7; }
a:visited { color: #337ab7; }

.form-control::-ms-clear {
    display: none;
}

.table tr {
    height: 40px;
}