nav.fa {
  font-size: 1em;
  line-height: 20px;
}

.brand {
  position: absolute;
  top: 5px;
  left: 5px;
  display: inline-block;

  width: 20px;
  height: 20px;
  background-size: 80%;
  margin: 0 10px 0 0;
  border-radius: 10px;
}

.appContent {
  margin: 50px 0;
}

.footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer.well {
  margin-bottom: 0;
}
