
.border {
  position: fixed;
  height: 90%;
  width: 90%;
  border: solid;
  margin: 25px;
}
.musittext {
  position: absolute;
  text-align: center;
  top: 35%;
  width: 100%;
  height: 100%;
}

.images {
  position: absolute;
  text-align: center;
  bottom: 5%;
  width:100%;
}

.image {
  width:50px; //min width should give to center the div.
  margin:25px; //here it will make center
}
